* {
    margin: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1499002238440-d264edd596ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    overflow: hidden;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    text-align: center;
}

.clock {
    display: flex;
}

.clock div {
    margin: 1rem;
    position: relative;
}

.clock span {
    width: 6rem;
    height: 4.8rem;
    background-color: rgb(217, 110, 244);
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    text-shadow: .3rem .3rem .9rem rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 1.8rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: darkorchid;
    opacity: 0.8;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 4rem;
    height: 3rem;
    font-size: 1.8rem;
    background: gold;
}